# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Signing / Secrets
*.mobileprovision
*.p12
*.cer
*.certSigningRequest
Secrets.xcconfig

# Editor
.vscode/
*.swp
